<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">    
            <a class="nav-link  btn btn-light active a-btn" href="/listings">All Listings</a>     
        </div>
        <div class="navbar-nav  ms-auto">  
          <a class="nav-link btn btn-outline-light active b-btn " href="/listings/new">Airbnb your home</a> 
          <% if(!currUser){%> 
          <a class="nav-link active  btn btn-danger i-btn" aria-current="page" href="/signup"><b>sign Up</b></a>   
          <a class="nav-link  btn active btn-danger i-btn" href="/login"><b>Log In</b></a>  
          <% } %><% if(currUser){ %>   
          <a class="nav-link  btn active btn-danger i-btn" href="/logout"><b>Log Out</b></a>
          <% } %>
      </div>
      </div>
    </div>
  </nav>