/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 80%;
    border-radius: 2rem;
  }
  
.map-container{
    height: 15rem;
}
@media screen and (min-width: 480px) {
    .map-container{
        height: 25rem;
    }
    #map {
      height: 90%;
      border-radius: 2rem;
    }

  }